FIREBASE_PROJECT_ID=topguild-eeb40
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@topguild-eeb40.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
FIREBASE_PRIVATE_KEY_ID=your_private_key_id
FIREBASE_CLIENT_ID=your_client_id

JWT_SECRET=your_super_secret_jwt_key_for_topguild
